footer.page_footer
	.container
		.row
			.sitemap.col-12.col-sm-6
				.row
					.col-sm-6
						nav.footer_nav
							ul.cf.lis-n
								li.footer_nav-item
									a(href="javascript:;") 關於我們
								li.footer_nav-item
									a(href="javascript:;") 服務流程
								li.footer_nav-item
									a(href="javascript:;") 案例作品
								li.footer_nav-item
									a(href="javascript:;") 文章分享
								li.footer_nav-item
									a(href="javascript:;") 聯絡我們
					.col-sm-6
						nav.footer_nav
							ul.cf.lis-n
								li.footer_nav-item
									a(href="javascript:;") 形象網站設計
								li.footer_nav-item
									a(href="javascript:;") 購物網站設計
								li.footer_nav-item
									a(href="javascript:;") 預約網站設計
								li.footer_nav-item
									a(href="javascript:;") 型錄網站設計
								li.footer_nav-item
									a(href="javascript:;") 型錄網站設計
			.comp_info.col-12.col-sm-6
				.row
					.col-sm-6
						.comp_info-txt.phone 02-2365 2668 ( 週一~週五 9:00-18:00)
						.comp_info-txt.addr 台北市中正區羅斯福路四段162號9樓之4
						.comp_info-txt.email service@lohasstyle.cc
						.comp_info-txt.link
							a(href="") 招募
					.col-sm-6
						.logo-pic
							.pic
								img(src="dist/img/logo-lohaslife.svg", alt="LOHAS IT")
						p.other 本公司合作法律顧問為達文西法律事務所
	.copyright Copyright © 2012-2019 樂活多媒體有限公司 All rights reserved