header.page_header
	.container
		.logo
			a(href="")
				img(src="dist/img/logo-lohaslife.svg", alt="LOHAS IT")
		nav.header_nav
			ul.cf.lis-n
				li.header_nav-item
					a(href="javascript:;").inner 關於我們
				li.header_nav-item
					a(href="javascript:;").inner 服務流程
				li.header_nav-item
					a(href="javascript:;").inner 案例作品
				li.header_nav-item
					a(href="javascript:;").inner 文章分享
				li.header_nav-item
					a(href="javascript:;").inner 聯絡我們
